output/*
!output/.gitkeep

models/*
!models/.gitkeep

input_audio/*
!input_audio/.gitkeep

pipeline//pycache/
pipeline//pycache/*
.pipeline_state.json

.DS_Store
.vscode/
.idea/
Thumbs.db

venv/
*.pyc
pycache/
